<aside class="sidebar">
    <div class="brand">
      <img src="Images/WD-Logo.jpg" alt="Logo" class="logo">
      <span class="brand-name">Willy Dabou</span>
    </div>
    <nav class="nav-links">
      <a href="#" data-page="home.html" class="nav-item active">Home</a>
      <a href="#" data-page="education.html" class="nav-item">Education</a>
      <a href="#" data-page="projects.html" class="nav-item">Projects</a>
      <a href="#" data-page="contact.html" class="nav-item">Contact</a>
    </nav>
  </aside>